<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色添加 - 校园助手管理系统</title>
    <!--: include("/import.html"){} -->
</head>
<body>
<div class="layui-container">
    <div class="layui-row layui-col-space5">
        <div class="grid-demo">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                <legend>角色信息</legend>
            </fieldset>
            <form class="layui-form layui-form-pane" action="" lay-filter="form">
                <div class="layui-form-item">
                    <label class="layui-form-label">角色身份</label>
                    <div class="layui-input-block">
                        <input type="text" name="role" lay-verify="required" placeholder="请输入" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">描述</label>
                    <div class="layui-input-block">
                        <input type="text" name="detail" lay-verify="required" placeholder="请输入"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">权限级别</label>
                    <div class="layui-input-block">
                        <select id="role" name="level">
                            <option value="">权限级别：越低越高</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" style="text-align: center">
                    <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="form">添加</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['form', 'layer', 'jquery', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery
            , laydate = layui.laydate;


        form.on('submit(form)', function (data) {
            layer.confirm("确认添加?", ['确认', '取消'], function () {
                $.ajax({
                    url: "/hms/admin/manager/role/add",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify(data.field),
                    success: function (data) {
                        if (!data.succeed) {
                            layer.msg("添加失败")
                        } else {
                            var index = parent.layer.getFrameIndex(window.name);//获取窗口索引
                            layer.msg("添加成功", {time: 200}, function () {
                                parent.layer.close(index);
                                location.reload();
                            });//关闭弹窗，父页面刷新
                        }
                    },
                    error: function (msg) {
                        console.log(msg)
                    }
                });
            });

            return false;
        });

    })
</script>
</html>