<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公告信息发布 - 高校班级助手</title>
    <!--: include("/import.html"){} -->
    <style>
        img {
            width: 100%;
            height: 100%;
        }

        .img {
            width: 75px;
            height: 75px;
            margin: 10px 20px 0px 0px
        }
    </style>
</head>
<body>
<div class="layui-container">
    <div class="layui-row layui-col-space5">
        <div class="grid-demo">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                <legend>公告信息发布</legend>
            </fieldset>
            <form class="layui-form layui-form-pane" action="" lay-filter="form">
                <input id="upload" type="file" style="display: none"/>
                <div class="layui-form-item">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="ntitle" lay-verify="required" placeholder="请输入" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">公告内容</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入公告内容" lay-verify="required" name="ncontent" class="layui-textarea"></textarea>
                    </div>
                </div>

                <hr class="layui-bg-black">

                <div class="layui-card">
                    <div class="layui-card-header">公告图片(点击删除)</div>
                    <div class="layui-card-body">
                        <div class="layui-row imgs">
                            <div class="layui-col-xs4 imgAdd img">
                                <a href="#" class="layui-btn layui-btn-primary"
                                   style="width: 75px;height: 75px;padding: 20px">
                                    +
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item" style="text-align: center">
                    <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="form">添加</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['form', 'layer', 'jquery', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery
            , laydate = layui.laydate;


        function typeData(data) {
            var urls = "";
            var nimg = $("img");
            for (let i = 0; i < nimg.length; i++) {
                var url = $(nimg[i]).attr("src")
                //只需要一张
                if(i==nimg.length-1){
                urls += url;}
                else
                {
                    urls += url + ",";
                }
            }
            data.nimg = urls;
            console.log(data);
            return data;
        }

        $(".imgAdd").click(function () {
            $("#upload").click();
            return false;
        })

        $("#upload").change(function () {
            var img = $("#upload").get(0).files[0];
            var formData = new FormData();
            var u_id = "${sysUser.id!}";

            formData.append("upload", img);
            formData.append("uId", u_id);

            var index = layer.load(1);

            //异步请求
            $.ajax({
                url: "http://localhost:8080/api/upload",
                data: formData,
                type: "POST",
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                crossDomain: true,//跨域请求
                xhrFields: {
                    withCredentials: true//允许携带cookie
                },
                success: function (res) {
                    if (res.succeed) {
                        layer.close(index);
                        $(".imgs").prepend(imgShow(res.data));
                        //rest();
                        btnRemove();
                        layer.msg("图片上传成功!");
                    } else {
                        layer.close(index);
                        layer.alert(res.msg, {"icon": 2});
                    }
                },
                error: function (data) {
                    layer.close(index);
                    layer.alert("请求超时!", {"icon": 3})
                }
            });
        })

        function imgShow(url) {
            //设置图片预览
            if (url == null || url === "") {
                return null;
            }
            var strVar = "";
            strVar += "                        <div class=\"layui-col-xs4 img\">";
            strVar += "                            <a href=\"#\" class=\"imgBtn\">";
            strVar += "                                <img src=\"" + url + "\">";
            strVar += "                            <\/a>";
            strVar += "                        <\/div>";
            return $(strVar);
        }

        function btnRemove() {
            //点击图片删除
            $(".imgBtn").click(function () {
                $(this).parent(".img").remove();
                return false;
            });
        }

        form.on('submit(form)', function (data) {
            layer.confirm("确认添加?", ['确认', '取消'], function () {
                $.ajax({
                    url: "/sas/admin/newsInfo/insert",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify(typeData(data.field)),
                    success: function (data) {
                        if (!data.succeed) {
                            layer.msg("添加失败")
                        } else {
                            var index = parent.layer.getFrameIndex(window.name);//获取窗口索引
                            layer.msg("添加成功", {time: 200}, function () {
                                parent.layer.close(index);
                                location.reload();
                            });//关闭弹窗，父页面刷新
                        }
                    },
                    error: function (msg) {
                        console.log(msg)
                    }
                });
            });

            return false;
        });

    })
</script>
</html>